exact_sol_16.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_18.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_31.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_60.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_61.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_80.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_27.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_44.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_54.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_63.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_30.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_47.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_52.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_53.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_62.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_66.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_95.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_15.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_17.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_55.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_5.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_7.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_86.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_10.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_21.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_71.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_72.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_82.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_25.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_37.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_48.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_49.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_65.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_74.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_87.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_77.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_0.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_11.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_23.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_45.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_50.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_68.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_6.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_91.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_94.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_9.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_59.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_75.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_92.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_97.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_12.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_2.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_4.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_69.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_78.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_79.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_88.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_56.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_20.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_24.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_29.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_33.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_34.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_35.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_38.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_58.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_90.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_36.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_42.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_40.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_70.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_8.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_98.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_84.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_19.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_39.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_41.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_46.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_51.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_57.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_64.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_93.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_85.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_100.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_26.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_3.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_43.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_73.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_76.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_81.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_99.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_83.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_13.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_14.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_1.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_22.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_28.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_32.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_67.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_89.vtk filter=lfs diff=lfs merge=lfs -text
exact_sol_96.vtk filter=lfs diff=lfs merge=lfs -text
